.info {
  background-color: $black;

  &__list {
    @include flex-center;
    min-height: 341px;
  }

  &__item {
    max-width: 360px;
    min-height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: $white;

    &-img {
      fill: $dark-pink;
    }

    &-heading {
      @include font(20px, 24px);
    }

    &-text {
      @include font(14px, 17px, 300);
    }
  }
}

@include tablet {
  .info {
    &__list {
      justify-content: space-evenly;
      flex-direction: column;
      min-height: 610px;
    }
  }
}