.promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-bottom: 65px;

  &__img {
    width: 100%;
    height: auto;
  }

  &__heading {
    @include font(48px, 58px, 900);
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 100%;
      background-color: $dark-pink;
      left: -20px;
    }

    &-wrapper {
      background-color: $pink;
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: 0 0 0 92px;
    }
  }

  &__sub-heading {
    @include font(32px, 44px, 700);
    font-style: normal;
    display: block;

    &-pink {
      color: $dark-pink;
    }
  }
}

@media (max-width: $desktop-width) {
  .promo {
    margin-bottom: 20px;

    &__heading {
      @include font(44px, 52px, 900);

      &-wrapper {
        padding: 0 0 0 68px;
      }
    }

    &__sub-heading {
      @include font(24px, 29px, 700);
    }
  }
}

@media (max-width: $table-width) {
  .promo {
    grid-template-columns: 1fr;
    margin-bottom: 64px;

    &__img {
      display: none;
    }

    &__heading {
      @include font(38px, 46px, 900);
      margin-left: auto;
      margin-right: auto;

      &-wrapper {
        padding: 0;
        min-height: 363px;
      }
    }

    &__sub-heading {
      @include font(20px, 24px, 700);
    }
  }
}