.topic {
  background-color: $light-grey;

  &__container {
    @include flex-center;
    min-height: 148px;
  }

  &__heading {
    @include font(24px, 29px);
    text-transform: uppercase;
    color: $dark-pink;
  }

  &__navigation {
    &-list {
      display: flex;
    }

    &-item {
      @include font(14px, 17px, 300);

      &-backslash {
        margin: 0 6px;
        color: $dark-grey;
      }

      &-link {
        color: $dark-grey;
        text-decoration: none;
        text-transform: uppercase;
        transition: font-size 200ms linear, font-weight 200ms linear;

        &:hover {
          font-size: 15px;
          font-weight: 400;
          color: $dark-grey;
        }

        &--red {
          font-weight: 700;
          color: $dark-pink;


          &:hover {
            font-weight: 900;
            color: $dark-pink;
          }
        }
      }
    }
  }
}

@include mobile {
  .topic {
    &__heading {
      text-align: center;
    }

    &__container {
      flex-direction: column;
      justify-content: center;
    }

    &__navigation {
      margin: 32px 0 0 0;
    }
  }
}