body {
  font-family: lato, serif;
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.box-container {
  width: 1140px;
  margin: 0 auto;

}

.display-block {
  display: block;
}

@media (max-width: $desktop-width) {
  .box-container {
    width: 96%;
  }
}
