$dark-blue: #222222;
$pink: #F1E4E6;
$dark-pink: #F16D7F;
$white-svg: #E8E8E8;
$white: #FFFFFF;
$grey: #9F9F9F;
$dark-grey: #5D5D5D;
$black-grey: #4D4D4D;
$light-dark-grey: #6F6E6E;
$light-grey: #F8F8F8;
$sub-grey: #E1E1E1;
$black: #222224;
$form-grey: #B1B1B1;
$opacity-placeholder: 0.65;
$opacity-registration: 0.8;
$desktop-width: 1600px;
$table-width: 768px;
$mobile-width: 375px;
$product-grey: #EAEAEA;
$product-back: #F7F7F7;